/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.menuNav {
    background-color: #0F2D3A;
    color: white;
    height: 60px;
    align-items: center;
    margin-top:15px;

    display: flex;
    justify-content: space-between;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    
}
.menuNav .left {
    justify-self: start;
    margin-left: 40px;

}
.menuNav .left img
{
    width: 35px;
    height: 35px;  
}
.menuNav .left h1
{
    display: inline;
    font-style: italic;

}
.menuNav .center {
    justify-self: center;

}
.menuNav .right {
    justify-self: end;   
    margin-right: 10px;
    width: 40%;
    background-color: white;
    border-radius: 20px;
}
.menuNav .right input
{
    width: 55%;
    height: 40px; 
    margin: 0px 0px 5px 20px;
    border: 0; 
}
.menuNav .right img
{
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
}
.menuNav .right button
{
    background-color: #15847D;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 8px;
}
.menuNav ul li {
    display: inline;
    margin-right: 10px;
    color: white;
}
.menuNav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


body {
    font-family: Helvetica, sans-serif;
    background-color: black;
}

.container{
    background-color: #0F2D3A;
    background-image: url('https://media.istockphoto.com/id/2178020702/es/foto/paisaje-urbano-de-nueva-york-a%C3%A9reo.jpg?s=612x612&w=0&k=20&c=CvgRp1GkJDVQ1h0ChuPoGI5W7-fnqMLjIaX4kyxje1k=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 2000px;
}

  /* 
  

  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  */