/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: Helvetica, sans-serif;
    background-color: black;
}
.menuNav {
    background-color: #0F2D3A;
    color: white;
    height: 60px;
    align-items: center;
    margin-top:15px;
    display: flex;
    justify-content: space-between;  
}
.menuNav .left {
    justify-self: start;
    margin-left: 40px;
}
.menuNav .left img
{
    width: 35px;
    height: 35px;  
}
.menuNav .left h1
{
    display: inline;
    font-style: italic;

}
.menuNav .center {
    justify-self: center;
}
.menuNav .center li {
    display: inline;
    padding-right: 10px;
    color: white;
}
.menuNav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menuNav .right {
    justify-self: end;   
    margin-right: 40px;
    width: 35%;
    height: 45px;
    background-color: white;
    border-radius: 20px;
}
.menuNav .right input
{
    width: 50%;
    height: 30px; 
    margin: 0px 0px 5px 20px;
    border: 0; 
}
.menuNav .right img
{
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
}

button
{
    background-color: #15847D;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 8px;
}

.container{
    background-color: #0F2D3A;
    background-image: url('https://media.istockphoto.com/id/2178020702/es/foto/paisaje-urbano-de-nueva-york-a%C3%A9reo.jpg?s=612x612&w=0&k=20&c=CvgRp1GkJDVQ1h0ChuPoGI5W7-fnqMLjIaX4kyxje1k=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.followUsNav{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.followUsNav ul{
    list-style-type: none;
}
.followUsNav li{
    padding-bottom: 20px;  
}
.followUsNav img{
    width: 30px;
    height: 30px;
}
.exploreNav{
    padding-left: 50px;
}
.exploreNav h1{
    width: 50%;
    color: white;
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 30px;
}
.exploreNav p{
    width: 50%;
    color: white; 
    font-size: 16px;
    padding-bottom: 30px;
}

.aboutNav{
    padding-left: 50px;
    width: 80%;
}
.aboutNav h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 30px;
}
.aboutNav p{
    color: white;
    font-size: 16px;
    padding-bottom: 30px;
}
.OurTeam{
    min-height: 300px; 
    display: flex;
    flex-direction: row;
}
.OurTeam p{
    color: white;
    font-size: 42px;
    width: 150px;
}
.divOurTeam{
    display: flex;
    flex-direction: row;   
    justify-content:center; 
}
.divOurTeam div{
    padding-left:50px;
}
.divOurTeam h1{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.divOurTeam p{
    color: white;
    font-size: 10px;
}
.divOurTeam img{
    width: 30px;
    height: 30px;
}



 